/* Estilo Geral */
body {
    background-image: linear-gradient(rgb(115, 226, 245), rgb(255, 255, 255));
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8fbff;
    color: #444;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1,
h2 {
    color: #004f82;
}

.texto {
    line-height: 1.6;
    color: #ebe6e6;
}

.contact-form {
    background: white;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    color: #004f82;
    margin-bottom: 10px;
}

.contact-form p {
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
    transition: border 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #2a77d6;
    outline: none;
}

.contact-form button {
    background: #2a77d6;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact-form button:hover {
    background: #1f5ea9;
}

/* Sobre a Equipe */
.team {
    background: white;
    padding: 30px;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.team-photo {
    max-width: 500px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-info {
    max-width: 600px;
    margin: 20px;
    text-align: left;
    text-decoration: #333;
}

.texto_time {
    line-height: 1.6;
    color: #333;
}

/* Rodapé */
.footer {
    background: #1f5ea9;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.9rem;
}

/* Menu */
@font-face {
    font-family: "League Spartan";
    src: url(https://fonts.google.com/share?selection.family=League+Spartan:wght@100..900);
}

html {
    background-image: linear-gradient(rgb(115, 226, 245), rgb(184, 247, 255));
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;

}

* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #00457b;
    height: 100px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.geral {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.opcoes {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    transition: 0.5s ease;
}

.link:hover {
    color: aquamarine;
}

.icone {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px) {
    .icone {
        display: block;
    }

    .icone.active .bar:nth-child(2) {
        opacity: 0;
    }

    .icone.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .icone.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .opcoes {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #00457b;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.35;
    }

    .item {
        margin: 16px 0;
    }

    .opcoes.active {
        left: 0;

    }

}

@font-face {
    font-family: "League Spartan";
    src: url(https://fonts.google.com/share?selection.family=League+Spartan:wght@100..900);
}

html {
    background-image: linear-gradient(rgb(115, 226, 245), rgb(184, 247, 255));
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
}

header {
    background-color: #00457b;
    height: 100px;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.geral {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.opcoes {
    display: flex;
    align-items: center;
    gap: 50px;
}


.link {
    transition: 0.5s ease;
}

.link:hover {
    color: aquamarine;
}

.icone {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px) {
    .icone {
        display: block;
    }

    .icone.active .bar:nth-child(2) {
        opacity: 0;
    }

    .icone.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .icone.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .opcoes {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #00457b;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.35;
    }

    .item {
        margin: 16px 0;
    }

    .opcoes.active {
        left: 0;

    }

}

#circulo {
    background: rgb(42, 86, 100);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: 50px;

}

#divBusca {
    background-color: #E0EEEE;
    border: solid 2px #5F9EA0;
    border-radius: 10px;
    width: 296px;
    height: 32px;
}

#txtBusca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 191px;
}

#btnBusca {
    border: none;
    float: left;
    height: 32px;
    border-radius: 0 7px 7px 0;
    width: 70px;
    font-weight: bold;
    background: #5F9EA0;
}

#divBusca img {
    float: left;
    width: 190;
    height: 30px;
}



.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #00588D;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
}

#redeSocial {
    margin-top: 20px;
    padding: 10px;
    width: fit-content;
    display: flex;
    margin-left: 26%;
    transition: 200ms;
    border-radius: 20px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(45deg, rgba(23,48,161,1) 0%, rgba(105,53,116,1) 26%, rgba(221,28,70,1) 49%, rgba(255,141,21,1) 74%, rgba(255,243,0,1) 100%);
    border-image-slice: 1;
    width:fit-content;
}

#redeSocial a {
    padding: 5px;
    background-color: white;
    border-radius: 10px;

}